body {
  background-color: #333;
  font-family: 'Lato', 'Times New Roman', Times, serif;
}

body * {
  color: #eee;
}

*, *::after, *::before {
  box-sizing: border-box;
}


nav li {
  text-decoration: underline;
}